Library/
Temp/
obj/
*.dll
*.pdb
*.suo
*.userprefs
*.csproj.user
*.unityproj
*.sln
*.pidb
*.booproj
*.svd
*.unityproj.user
*.unitycache
*.log
*.rar
*.zip
*.psd
*.exe
*.png
*.jpg
*.jpeg
*.tga
*.gif
*.wav
*.mp3
*.ogg
*.fbx
*.mtl
*.asset
*.meta